.Shop {
    height: 390px;
    width: 100%;
}

.Shop button{
    height: max-content;
    height: 122px;
    width: 122px;
    font-size: 20px;
    background-color: #A38D8A;
    border: 3.3px solid #131212;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0;
    outline:0;
}
.Shop button > div{
    width: 100%;
    /* font-weight: bold; */
}

.Shop button:active {
    animation: anim-effect-buy 0.1s forwards;
}

@keyframes anim-effect-buy {
    0% {
        transform: scale3d(0.9, 0.9, 1);
    }

    25%,
    50% {
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

#shop_list{
    margin-top: 20px;
}
#shop_list::-webkit-scrollbar { width: 0; }

.name_VC{
    font-size: 24px;
}

.shop_item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.shop_item a{
    text-align: left;
    width: 120px;
    font-size: 20px;
}
.shop_item > * {
    margin: 5px 5px 4px 5px;
}

.info_shop_click{
    display: flex;
    flex-direction: column;
    background-color: #A38D8A;
    border: 3.3px solid black;
    width: 267px;
    height: 122px;
    padding: 5px;
    position: relative;
}

.price_shop{
    text-align: right !important;
    position: absolute;
    right: 0;
    bottom: 0;
}

.GT730{
    background-position: center;
    background-size: contain;
    background-image: url('../../img/work/Nofancard_notwork.png');
    background-repeat: no-repeat;
}
.GT750{
    background-position: center;
    background-size: contain;
    background-image: url('../../img/work/2fancard_notwork.png');
    background-repeat: no-repeat;
}
.GT760{
    background-position: center;
    background-size: contain;
    background-image: url('../../img/work/Watercard_notwork.png');
    background-repeat: no-repeat;
}