.Shop {
    overflow: auto;
}

.Shop button{
    height: max-content;
    width: 200px;
    font-size: 20px;
}

.shop_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shop_item a{
    text-align: left;
    width: 120px;
    font-size: 20px;
}
.shop_item > * {
    margin: 5px 5px 5px 5px;
}
