.List-click{
    height: 390px;
    width: 100%;
}

#list{
    margin-top: 20px;
    overflow-y: auto;
    height: max-content;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
#list::-webkit-scrollbar { width: 0; }


.click {
    display: flex;
    flex-direction: column;
    /* background-color:darkorange; */
    /* border: 3px solid black; */
    align-items: center;
    width: 127px;
    height: 128px;
    margin: 0px 5px 2px 5px;
}


.info_click{
    height: 46px;
    width: 127px;
    border: 3.3px solid black;
    background-color: #A38D8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_click_text{
    width: 93px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #112533;
    border: 3.3px solid black;
    background-color: #5484AF;;
}

.name_click{
    height: max-content;
    width: max-content;
    font-size: 11px;
}

.time_cooldown{
    height: max-content;
    width: max-content;
    font-size: 11px;
}

.img_VC{
    width: 115px;
    height: 52px;
    background: #67605E;
    border-left: 3.3px solid black;
    border-right: 3.3px solid black;
}

.img_VC img{
    position: relative;
    zoom: 0.34;
}

.sell_on{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #A38D8A;
    width: 127px;
    height: 26px;
    border: 3.3px solid black;
    
}

.sell_on div{
    margin-left: 35px;
}

.img_on{
    margin-top: 15px;
    zoom: 0.25;
}

.sell_click{
    font-size: 16px;
    font-weight: bold;
}
