#list{
    margin-top: 20px;
    overflow: auto;
    height: max-content;
    max-height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.click {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:darkorange; */
    /* border: 3px solid black; */
    width: 133px;
    height: 133px;
    padding: 0;
    background-image: url('../../img/work/box.png');
}

.click button{
    font-size: 20px;
}

.click>* {
    margin-left: 5px;
    margin-right: 5px;
}

.info_click{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    /* background-color: black; */
}

.info_click_img{
    position: relative;
    zoom: 0.40;
}

.info_click_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: -33px 0 0 0; */
    color: green;
}

.name_click{
    height: max-content;
    width: max-content;
    font-size: 14px;
}

.time_cooldown{
    height: max-content;
    width: max-content;
    font-size: 14px;
}

.img_VC img{
    position: relative;
    zoom: 0.36;
}

.sell_click{
    margin-top: -2px;
}