.List-click{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#list{
    margin-top: 20px;
    overflow: auto;
    height: max-content;
    max-height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}


.click {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:darkorange; */
    /* border: 3px solid black; */
    width: 32.3vw;
    height: 133px;
    padding: 2px;
}

.click button{
    font-size: 19px;
}

.click>* {
    margin-left: 5px;
    margin-right: 5px;
}

.info_click{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url('../../img/work/box.png');
    background-repeat: no-repeat;
    /* background-color: black; */
}

.info_click_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 12px;
    color: #112533;
}

.name_click{
    height: max-content;
    width: max-content;
    font-size: 14px;
}

.time_cooldown{
    height: max-content;
    width: max-content;
    font-size: 14px;
}

.img_VC{
    height: max-content;
}

.img_VC img{
    margin-top: 15px;
    position: relative;
    zoom: 0.34;
}

.sell_on{
    margin-top: -9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sell_on div{
    margin-top: 15px;
    margin-left: 35px;
}

.img_on{
    zoom: 0.4;
}

.sell_click{
    
}
