.tab_wp {
  display: flex;
  width: 140px;
  height: 44px !important;
  cursor: pointer;
  border: solid #131212;
  border-width: 3.3px 2px 0px 3.3px;
  background-color: #A38D8A;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tab_wp a{
  font-size: 24px;
}

.tab_wp_active {
  background-color: #B7A7A1 !important;
  opacity: 1;
}

.tab_close {
  opacity: 0;
}

.tab_close:hover {
  opacity: 1 !important;
}

#curtain{
  width: 409px;
  height: 25px;
  background: #A38D8A;
  /* border: 3.3px solid black; */
  border: 3.3px solid black;

  z-index: 1;
}

.active_curtain{
  background-color: #B7A7A1 !important;
}