.tab_wp {
  width: 140px;
  /* height: 44px !important; */
  cursor: pointer;
  border: 3.3px solid #131212;
  background-color: #A38D8A;
  height: 100%;
  text-align: center;
  font-size: 24px;
}

.tab_wp_active {
  background-color: #B7A7A1 !important;
  opacity: 1;
}

.tab_close {
  opacity: 0;
}

.tab_close:hover {
  opacity: 1 !important;
}

#curtain{
  width: 411px;
  height: 25px;
  background: #A38D8A;
  /* border: 3.3px solid black; */
  border: solid black;
  border-width: 0px 3.3px 3.3px 3.3px;
  z-index: 1;
}

.active_curtain{
  background-color: #B7A7A1 !important;
}