#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: #6c6d6e;
  height: 100%;
  font-family: Impact;
  touch-action: manipulation
}

*{
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: Impact;
 }

.App {
  width: 411px;
  height: 733px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B7A6A1;
}

.App-header {
  background-color:#B7A6A1;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: center;
  justify-content: center;
  color: #131212;
}

.App-header a {
  font-size: 30px;
}

.Game-place{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.Game-place p {
  font-size: 26px;
}
#shop_upgrade{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #2C2D2F;
}

#game_info_img{
  margin-top: 15px;
  height: 128px;
  width: 397px;
  border: 3.3px solid black;
  background-color: #A38D8A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('../src/img/work/status.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}
#game_info{
  width: 352px;
  height: 88px;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  font-size: 16px;
  border: 3.3px solid black;
  background: #5484AF;
  overflow-y: auto;
}

#game_info > a{
  width: max-content;
}

#tab_s_u{
  display: flex;
  flex-direction: column;
  height: 74px;
  width: 100%;
}

.tab_floor{
  display: flex;
  flex-direction: row;
}


#frames{
  position: relative;
  flex: 1;
  width: 100%;
}

.frame {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}
.frame_active{
  display: block;
  z-index: 1;
  opacity: 1;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
