.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  
}

.App-header {
  background-color:gray;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}

.App-header a {
  font-size: 30px;
}

.Game-place{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Game-place p {
  font-size: 26px;
}
.List-click{
  background-color:aliceblue !important;
  width: 60vw;
  overflow: auto;
}
#shop_upgrade{
  background-color: burlywood;
  width: 40vw;
}

#tab_s_u{
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: red;
}

.frame {
  z-index: 0;
  opacity: 0;
}
.frame_active{
  z-index: 1;
  opacity: 1;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
